*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.header{
    display: flex;
    justify-content: space-between;
    padding: 1em;
    align-items: center;
    background-color: black;
}
.grid{
    color: white;
    padding: 1em;
}
.grid-list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
li{
    list-style: none;
    padding: 8px;
}
a{
    text-decoration: none;
}
.flex-grid{
    display: flex;
    align-items: stretch;   
}
.flex-grid>div{
    text-align: center;
    margin: 10px;
    width: 100px;
    color: white;
}
.container{
    display: grid;
    grid-template-areas: "heading" "sidebar" "content" "footer";
    grid-template-columns: 1fr;
    gap: 5px;
    background-color: grey;
    padding: 5px;
    max-width: 100;
    margin: auto;
}
.container > div{
    background-color: lightgrey;
    padding: 10px;
}
.container > div.heading{
    grid-area: heading;
    text-align: center;
}
.container > div.sidebar{
    grid-area: sidebar;   
}
.container > div.content{
    grid-area: content;
}
.container > div.footer{
    grid-area:footer;
}
@media(min-width:768px){
    .container{
        display: grid;
        grid-template-areas: "heading heading" "sidebar content" "footer footer";
        grid-template-columns: 1fr;
        gap: 5px;
        background-color: grey;
        padding: 5px;
        max-width: 100%;
        margin: auto;
    }
    .container > div.sidebar{
        grid-area: sidebar;
        padding: 10px;
    }
}
.container-fluid{
    display: inline-grid;
    grid-template-columns: auto auto auto;
    background-color: grey;
    padding: 10px;
}
.container-fluid >div{
    background-color: lightgrey;
    border: 1px solid black;
    padding: 10px;
    font-size: 30px;
    text-align: center;
}